<section>
  <h1>About Me</h1>

  <p>My name is Romén Rodríguez-Gil. I'm a Lifelong Learner who seeks continuous improvement and cares about the human side of technology.</p>

  <p>As a Software Engineer and Internet Entrepreneur I have worked in several software companies, research teams and startups, wearing many different hats.</p>

  <p>Thanks to the internet I have learned most of the things I know. I hope this blog helps some of you too.</p>

  <a href="/about/index.html">...Read more about me</a>
</section>
