<section>
  <h1>About Me</h1>

  <p>My name is Romén Rodríguez-Gil. I'm a Lifelong Learner who seeks continuous improvement and cares about the human side of technology.</p>

  <p>As a Software Engineer and Internet Entrepreneur I have worked in several software companies, research teams and startups, wearing many different hats.</p>

  <p>The Internet has helped me learn much of what I know. I hope this blog may contribute to help somebody else.</p>

  <a href="/about/index.html">Read more about me</a>
</section>
