<section>
  <h1>About Me</h1>

  <p>My name is Romén Rodríguez-Gil. Apart from being a Software Engineer and Internet Entrepreneur, I am mostly a Lifelong Learner who seeks continuous improvement and looks at the human side of technology.</p>

  <p>I have worked in several software companies, research teams and startups, wearing many different hats. I like to share my thoughts and experiences, not only in this blog but also giving talks and lectures in different events and institutions.</p>

  <a href="/about/index.html">Read more about me</a>
</section>
