{% if site.twitter_user %}
<section>
  <h1>Latest Tweets</h1>
  <a class="twitter-timeline" data-chrome="nofooter transparent noheader" data-tweet-limit="3" href="https://twitter.com/romenrg">Tweets by romenrg</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></section>
  <a href="https://twitter.com/romenrg" class="twitter-follow-button" data-show-count="false">Follow @romenrg</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endif %}
